@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0; }

html {
  font-size: 0.625em;
  box-sizing: inherit; }

body {
  line-height: 1.4;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; }

.navigation_logo--img {
  color: red; }

.navigation {
  display: flex;
  justify-content: space-between; }
  .navigation_logo {
    display: flex;
    margin: 2rem 4rem; }
  .navigation_list {
    display: flex;
    width: 20rem;
    margin: 2rem 4rem;
    justify-content: space-between; }
