@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0; }

html {
  font-size: 0.625em;
  box-sizing: inherit; }

body {
  line-height: 1.6;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400; }

.navigation_logo--img {
  color: #F5F5F5;
  font-size: 4rem; }

.navigation_logo--text {
  color: #F5F5F5;
  font-size: 3rem;
  font-weight: 500; }

.navigation_list {
  list-style: none; }

.navigation_item {
  font-size: 1.5rem;
  font-weight: 200; }

.navigation_link {
  text-decoration: none;
  color: #F5F5F5; }
  .navigation_link:hover {
    border-bottom: 3px solid #F5F5F5; }

.header_text {
  color: #F5F5F5;
  text-align: center; }
  .header_text--main {
    font-size: 2.5rem; }
  .header_text--sub {
    font-size: 1.6rem;
    font-weight: 300; }

.header_button {
  color: #F5F5F5;
  text-align: center;
  font-size: 1.7rem; }

.features {
  color: #F5F5F5; }
  .features_card--icon {
    color: #de7c5a;
    font-size: 7rem; }
  .features_card--header {
    font-size: 1.8rem; }
  .features_card--text {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300; }

.header {
  height: 100vh;
  background-color: #37023C;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header_img {
    height: 45rem;
    margin-top: 8rem; }
  .header_text {
    width: 60rem; }
    .header_text--main {
      margin-bottom: 2rem; }
  .header_button {
    margin-top: 4rem;
    border-radius: 2.5rem;
    width: 25rem;
    background-color: #de7c5a;
    padding: 1rem 0rem;
    transition: all 0.15s ease-in; }
    .header_button:hover {
      background-color: #db724d; }

.navigation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #37023C; }
  .navigation_logo {
    display: flex;
    margin: 2rem 4rem; }
    .navigation_logo--text {
      margin-left: 0.75rem; }
  .navigation_list {
    display: flex;
    width: 25rem;
    margin: 2rem 7rem 2rem 0rem;
    justify-content: space-between;
    align-items: center; }
  .navigation_link {
    transition: all 0.15s ease-in; }

.features {
  background-color: #210124;
  padding: 5rem 10rem;
  height: 60rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .features_card {
    width: 30rem;
    height: 25rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .features_card--icon {
      margin-bottom: 1.5rem; }
    .features_card--header {
      margin-bottom: 1rem; }

.family {
  background-color: #210124;
  height: 80rem;
  display: flex; }
  .family_image {
    height: 40rem; }
