@mixin fastTransitionAll {
    transition: all 0.15s ease-in;
}

@mixin mainHeader {
    font-size: 3rem;
    font-weight: 500;

    @include respond(phone) {
        font-size: 3.5rem;
        text-align: center;
    }
}

@mixin subHeader {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: capitalize;

    @include respond(phone) {
        font-size: 2.5rem;
    }
}

@mixin mainText {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;

    @include respond(phone) {
        font-size: 2.5rem;
        text-align: center;
    }
}

@mixin subText {
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;

    @include respond(phone) {
        font-size: 2rem;
    }
}

@mixin linkGeneral {
    text-decoration: none;
    color: $main_white;
    @include fastTransitionAll;

    &:hover {
        color: $accent_purple;
        border-bottom: 1.5px solid $accent_purple;
    }
}

@mixin maxWidthScreen {
    max-width: 140rem;
    margin: 0 auto;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content;} //600
    }

    @if $breakpoint == tablet {
        @media (max-width: 56.25em) {@content;} //900
    }

    @if $breakpoint == tabletLandscape {
        @media (max-width: 75em) {@content;} //1200
    }

    @if $breakpoint == bigScreen {
        @media (min-width: 112.5em) {@content;} //1800
    }
}