.footer {
    background-color: $main_purple;
    padding: 25rem 0 5rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include respond(bigScreen) {
        justify-content: space-between;
    }

    &_logo {
        justify-content: center;
    }
    &_info {
        width: 25rem;
        margin: 2rem auto;
        &--text {
            width: 80%;
            margin: 0.5rem auto;
            margin-right: 2rem;
        }
    }

    &_contact {
        width: 30rem;
        height: 10rem;
        margin: 2rem auto;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &--icon {
            margin-right: 0.5rem;
        }

        // &--phone {}
        // &--email {}
    }

    &_links {
        width: 30rem;
        height: 20rem;
        margin: 2rem auto;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include respond(phone) {
            width: 20rem;
        }
    }

    &_item {
        margin: 1rem 1rem;

        &--link {
            padding: 1rem 0.5;
        }
    }

    &_media {
        width: 30rem;
        height: 10rem;
        margin: 2rem auto;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include respond(phone) {
            width: 20rem;
        }

        &--item {}

        &--link {
            padding: 1.5rem;
        }
    }
}

.credits {
    background-color: $main_purple;
    padding-bottom: 1rem;
}