.navigation {
    width: 92.5%;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 3.5rem;
    transform: translateX(-50%);
    
    display: flex;
    justify-content: space-between;

    &_list {
        display: flex;
        width: 25rem;
        justify-content: space-between;
        align-items: center;

        @include respond(phone) {
            margin-right: 1rem;
        }
    }
    
    // &_item {}

    &_link {
        @include fastTransitionAll;
    }

}