.navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $main_purple;

    &_logo{
        display: flex;
        margin: 2rem 4rem;

        // &--img {}

        &--text {
            margin-left: 0.75rem;
        }
    }

    &_list {
        display: flex;
        width: 25rem;
        margin: 2rem 7rem 2rem 0rem;
        justify-content: space-between;
        align-items: center;
    }
    
    // &_item {}

    &_link {
        @include fastTransitionAll;
    }

}