.features {
    background-color: $secondary_purple;
    padding: 5rem 10rem;
    height: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &_card {
        width: 30rem;
        height: 25rem;
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--icon {
            margin-bottom: 1.5rem;
        }

        &--header {
            margin-bottom: 1rem;
        }

        &--text {}
    }
}

.family {
    background-color: $secondary_purple;
    height: 80rem;
    display: flex;
    
    &_image {
        height: 40rem;
    }
}