//For Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //10px 10px / 16px = 62.5
    scroll-behavior: smooth;


    //Largest first because smallest will be apllied because it is last
    @include respond(bigScreen) {
        font-size: 75%; //12px
    }

    @include respond(tabletLandscape) {
        font-size: 56.25%; //9px
    }

    @include respond(phone) {
        font-size: 50%; // 8px
    }
}

body {
    line-height: 1.6;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgba($main_black, 0.9);
}

.container {
    position: relative;
    z-index: 1;

    @include respond(bigScreen) {
        @include maxWidthScreen;
    }
}