.navigation {
    &_logo{

        &--img {
            color: $main_white;
            font-size: 4rem;
        }

        &--text {
            color: $main_white;
            font-size: 3rem;
            font-weight: 500;
        }
    }

    &_list {
        list-style: none;
    }

    &_item {
        font-size: 1.5rem;
        font-weight: 200;
    }

    &_link {
        text-decoration: none;
        color: $main_white;

        &:hover {
            border-bottom: 3px solid $main_white;
        }
    }
}

.header {
    &_img {}

    &_text {
        color: $main_white;
        text-align: center;
        
        &--main {
            font-size: 2.5rem;
        }

        &--sub {
            font-size: 1.6rem;
            font-weight: 300;
        }
    }

    &_button {
        color: $main_white;
        text-align: center;
        font-size: 1.7rem;
    }

}

.features {
    color: $main_white;

    &_card {

        &--icon {
            color: $accent_purple;
            font-size: 7rem;
        }

        &--header {
            font-size: 1.8rem;
        }

        &--text {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
}