* {
    font-weight: 400;
}
body {
    font-family: 'Inter', sans-serif;
}

.navigation {

    &_list {
        list-style: none;
    }

    &_item {
        @include subText;
    }

    &_link {
        @include linkGeneral;
    }
}

.header {
    // &_img {}

    &_text {
        color: $main_white;
        text-align: center;
        
        &--main {
            @include mainHeader;
            line-height: 1.25;
        }

        &--sub {
            @include mainText;
        }
    }

    &_button {
        color: $main_white;
        text-align: center;
        font-size: 1.7rem;
    }

}

.features {
    color: $main_white;

    &_card {

        &--icon {
            color: $accent_purple;
            font-size: 8rem;

            @include respond(phone) {
                font-size: 10rem;
            }
        }

        &--header {
            @include subHeader;
        }

        &--text {
            @include subText;
        }
    }
}

.family {
    
    // &_image {}

    &_text {
        color: $main_white;

        @include respond(tabletLandscape) {
            text-align: center;
        }

        &--main {
            @include mainHeader;
            text-transform: capitalize;
        }

        &--sub {
            @include mainText;
            text-align: left;

            @include respond(tabletLandscape) {
                text-align: center;
            }
        }

        &--link {
            @include mainText;
            font-size: 2.2rem;
            text-transform: capitalize;
            text-decoration: none;
            font-weight: 400;

            color: $accent_purple;
            @include fastTransitionAll;

            &:hover {
                color: darken($accent_purple, 8);
                text-decoration: underline;
            }
        }
    }
}

.quotes {

    &_card {
        color: $main_white;
    }

    &_text {
        font-size: 1.4rem;

        @include respond(phone) {
            font-size: 1.7rem;
        }
    }

    &_user {
        &--text {

            &-header {
                font-size: 1.4rem;
                font-weight: 600;

                @include respond(phone) {
                    font-size: 1.7rem;
                }
            }

            &-author {
                font-size: 1.3rem;
                font-weight: 300;

                @include respond(phone) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.signup {
    color: $main_white;
    &_header {
        @include mainHeader;
        text-align: center;        
    }

    &_text {
        @include mainText;
        text-align: left;
    }

    &_input {
        @include subText;
        text-align: left;
    }

    &_link {
        @include subText;
        text-decoration: none;
        color: $main_white;
        font-weight: 600;
    }
}

.footer {
    &_info {
        &--text {
            color: $accent_purple;
            @include subText;
            font-weight: 300;
        }
    }

    &_contact {
        @include subText;
        color: $main_white;
        // &--phone {}
        // &--email {}
    }

    &_links {
        list-style: none;
    }

    &_item {
        font-size: 1.4rem;

        &--link {
            @include linkGeneral;
        }
    }

    &_media {
        list-style: none;
        font-size: 3rem;

        // &--item {}

        &--link {
            @include linkGeneral;

            &:hover {
                border-bottom: none;
            }
        }
    }
}

.credits {
    &_link {
        @include linkGeneral;
        margin-left: 2rem;

        &:hover {
            border-bottom: 1px solid $accent_purple;
        }
    }
}