//For Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
}

html {
    font-size: 0.625em; 
    box-sizing: inherit;
}

body {
    line-height: 1.4;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}